{% extends '@App/base.html.twig' %}
{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.photo }}</td>
                <td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <td><a href="{{ path('addToCart', {'id': product.id}) }}">Dodaj do koszyka</a>
                    {% endif %}
            </tr>
        {% else %}
            BRAK PRODUKTÓW W KOSZYKU !!!
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
